%strong
  - if shape.charms.ids.include? charm.id
    = button_to shape.name.upcase, "/associations/#{shape.id}/#{charm.id}", method: :delete, title: "Remove Association"
  - else
    = button_to "x", "/associations/#{shape.id}/#{charm.id}", method: :put, title: "Add Association"
