%table{ width: '100%', class: "charms" }
  %tbody
    %tr{ class: "bails" }
      %td{colspan: 2,  rowspan: 3, valign: :middle, width: '20%', class: "charm charm2 charmhead" } Charms

      - # Shapes
      - @shapes.each do |shape|
        %td{ colspan: Shape.send(shape[0]).count, align: "center", class: shape[0] }= "#{shape[0].titleize} Bails"
      %tr{ class: "bails" }
        - # Shape Types
        - @shapes.each do |bail|
          - shapes = instance_variable_get("@#{bail[0].pluralize}")
          - shapes.sort_by { |shape| shape[:name] }.group_by(&:shape_type).each do |shape_type, array|
            %td{ class: bail, colspan: array.size, align: :center }
              %strong{ class: 'editable', data: { type: "text", url: "/edit/shape/#{shape_type}", title: "Shape Name:" }}= link_to "#{shape_type.titleize.pluralize}", "#"

      %tr{ class: "bails" }

        - # Shapes
        - @shapes.each do |bail|
          - shapes = instance_variable_get("@#{bail[0].pluralize}")
          - shapes.sort_by { |shape| shape[:name] }.each do |shape|
            %td{ class: bail, align: :center }
              %strong{ class: 'editable', data: { type: "text", url: "/edit/bail/#{shape.name}", title: "Bail Name:" }}= link_to "#{shape.name}", "#"
              %strong{ class: 'editable price', data: { type: "text", url: "/edit/bail/#{shape.name}", title: "Bail Price:", value: number_to_currency(shape.price, format: "%n" ) }}= link_to "#{number_to_currency(shape.price)}", "#"

    - # Charms (general content)
    - @charms.group_by(&:charm_type).each_with_index do |(charm_type, array), index|
      - array.each_with_index do |charm, i|
        %tr{ class: [charm_type, i.humanize] }
          %td{ class: "charm" }
            - if i <= 0
              %strong{ class: 'editable', data: { type: "text", url: "/edit/charm_type/#{charm_type}", title: "Charm Type:" }}= link_to charm_type.titleize, '#'
          %td{ class: "charm charm2" }= link_to charm.name.titleize, "#", class: 'editable', data: { type: "text", url: "/edit/charm/#{charm.name}", title: "Charm Name:" }

          - # Shapes
          - @shapes.each do |bail|
            - shapes = instance_variable_get("@#{bail[0].pluralize}")
            - shapes.sort_by { |shape| shape[:name] }.group_by(&:shape_type).each do |shape_type, array|
              - array.each_with_index do |shape,index|
                %td{ class: [shape.name, index.humanize], align: :center }
                  %strong
                    - if shape.charms.ids.include? charm.id
                      = button_to shape.name.upcase, "/associations/#{shape.id}/#{charm.id}", method: :delete, title: "Remove Association"
                    - else
                      = button_to "x", "/associations/#{shape.id}/#{charm.id}", method: :put, title: "Add Association"
