!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %link{rel: :stylesheet, type: :"text/css", href: stylesheet_path('app') }
    script{src: javascript_path('app') }
    %title Serifina Naturals

    - # Redirect to Shopify
    - # Only staging/production
    - unless Sinatra::Base.development?
      %script{src: "https://cdn.shopify.com/s/assets/external/app.js"}
      :javascript
        ShopifyApp.init({
          apiKey: "#{SinatraApp.settings.api_key}",
          shopOrigin: "#{shop_origin}",
          debug: true
        });
      %link{crossorigin: "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity: "sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", rel: "stylesheet"}/

  %body
    .container
      = haml :'_top_bar', layout: false, locals: locals
      = erb :'_flash_messages', layout: false, locals: locals if flash.try(:any?) # => Needs to be erb because HAML couldn't handle the conditional logic inside javascript
      = yield
